[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "submodules/pivottable"]
	path = submodules/pivottable
	url = https://github.com/nicolaskruchten/pivottable.git
[submodule "addons/STPCore"]
	path = addons/STPCore
	url = git@tools.fhstp.ac.at:nscbrandb/FHC-AddOn-STPCore.git
[submodule "addons/ldap"]
	path = addons/ldap
	url = https://github.com/FH-Complete/FHC-AddOn-LDAP.git
[submodule "addons/studiengangsverwaltung"]
	path = addons/studiengangsverwaltung
	url = https://github.com/nscbrandb/FHC-AddOn-Studiengangsverwaltung.git
[submodule "addons/aufnahme"]
	path = addons/aufnahme
	url = https://github.com/FH-Complete/FHC-AddOn-Aufnahme.git
